<nav class="nav d-flex justify-content-between">
  <a class="p-2 text-muted" routerLink="news">News</a>
  <a class="p-2 text-muted" routerLink="movies">Movies</a>
  <a class="p-2 text-muted" routerLink="events">Events</a>
  <a class="p-2 text-muted" routerLink="sports">Sports</a>
  <a class="p-2 text-muted" routerLink="travel">Travel</a>
  <a class="p-2 text-muted" routerLink="concerts">Concerts</a>
  <a class="p-2 text-muted" routerLink="accomodation">Accomodation</a>
  <a class="p-2 text-muted" routerLink="opinion">Opinion</a>
  <a class="p-2 text-muted" routerLink="kids">Kids</a>
  <a class="p-2 text-muted" routerLink="health">Health</a>
  <a class="p-2 text-muted" routerLink="services">Services</a>
  <a class="p-2 text-muted" routerLink="jobs">Jobs</a>
</nav>
